.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  margin-bottom: 8px;
  background-color: black;
}

.nav-link {
  color: whitesmoke;
}

.nav-link:hover {
  color: whitesmoke;
  opacity: .7;
}

.navbar-brand {
  color: whitesmoke;
  padding: 0 8px;
  font-family: $title-font;
  font-size: 24px;
}

.navbar-brand:hover {
  color: whitesmoke;
  text-decoration: underline;
  transition: 5s;
}
